:root {
    --primarycolor: #000000;
    --secondrycolor: #ffffffd8;
    --tertiarycolor: #9c9a9a;
    --buttonColor: #1093ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: var(--tertiarycolor);
    background-image: url(./d10.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 80vw;
    padding: 20px;
    color: var(--primarycolor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: transform 0.5s ease;
}

#profileCount{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    height: 700px;
    background:none;
    border: none;
    transition: all 0.7s ease;
} 

#profileCount:hover{
    transform:scale(1.01);
    background-color: var(--secondrycolor);
    border: 2px solid var(--secondrycolor);
}

#profilePreview{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    height: 700px;
    border: none;
    transition: all 0.7s ease;
}

#profilePreview:hover{
    transform:scale(1.01);
    background-color: var(--secondrycolor);
    border: 2px solid var(--secondrycolor);
}

h1{
    justify-self: center;
    align-self: center;
    font-weight: 600;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

label{
    font-size: 20px;
    font-weight: 500;

}

input{
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
}

textarea{
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    margin-bottom: 30px;
    height: 100px;
}

button{
    padding: 20px;
    background-color: var(--buttonColor);
    border-radius: 10px;
    font-weight: 500;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

p{
    font-size: 20px;
    font-weight: 500;
}

.previewer{
    margin-bottom: 30px;
}