:root {
    --fourthcolor: #5555;
    --thirdcolor: #0084ff;
    --primarycolor: #ffffff;
    --secondrycolor: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--primarycolor);
    background: var(--fourthcolor);
}

h1 {
    margin: 10px;
    font-weight: 700;
    color: var(--secondrycolor);
}

.container {
    gap: 80px;
    width: 80vw;
    height: 50vh;
    margin: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background: var(--secondrycolor);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 30px var(--thirdcolor);
}

.container:hover {
    transform: scale(1.01);
}

.digitalClock, .dateDisplay {
    width: 350px;
    height: 100px;
    display: flex;
    font-size: 40px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    border: 10px solid wheat;
}

.line {
    width: 2px;
    height: 180px;
    background: var(--primarycolor);
}

.analogClock {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    background-color: var(--primarycolor);
}

.hand{
    left: 50%;
    bottom: 50%;
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom center;
}

.hour-hand{
    z-index: 3;
    width: 6px;
    height: 50px;
    margin-left: -3px;
    background: var(--secondrycolor);
}

.min-hand{
    z-index: 2;
    width: 4px;
    height: 70px;
    margin-left: -2px;
    background: var(--fourthcolor);
}

.sec-hand{
    z-index: 4;
    width: 2px;
    height: 85px;
    margin-left: -1px;
    background: var(--thirdcolor);
}

.center-dot{
    top: 50%;
    left: 50%;
    z-index: 5;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 50%;
    background: var(--secondrycolor);
    transform: translate(-50%, -50%);
}

.clock-number{
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: -15px;
    position: absolute;
    text-align: center;
    color:var(--secondrycolor);
}

.dateContainer {
    width: 80vw;
    height: 10vw;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: var(--secondrycolor);
    background: var(--secondrycolor);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 30px var(--thirdcolor);
}

.dateContainer:hover {
    transform: scale(1.01);
}
