* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #6d6d6d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #170707;
}
h1 {
  color: #14cc00;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  line-height: 1.6;
}
.SecondPara {
  color: #f6d5cd;
  font-weight: bold;
}