* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #626262;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
}
h1 {
  color: #007acc;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  line-height: 1.6;
}
a {
  color: #007acc;
  text-decoration: none;
}