body {
  margin: 0;
  padding: 0;
  background-color: rgb(195, 225, 236);
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px #068cb9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

nav {
  background-color: #84cbe3;
  padding: 5px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-style: normal;
  text-shadow: 2px 2px 2px #037196;
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 0px 100px 0px;
}
.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  background-color: rgb(164, 213, 230);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
.cont-button {
  box-shadow: inset 1px 1px 5px 5px rgb(162, 219, 238);
  padding: 8px;
  margin: 5px;
  border: 2px solid rgb(97, 196, 239);
  color: white;
  font-weight: 700;
  font-size: 10px;
  background-color: rgb(0, 191, 255);
  border-radius: 5px;
  cursor: pointer;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(164, 213, 230);
  width: 20%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.side-button {
  box-shadow: inset 1px 1px 5px 5px rgb(162, 219, 238);
  padding: 8px;
  margin: 5px;
  border: 2px solid rgb(97, 196, 239);
  color: white;
  font-weight: 700;
  font-size: 10px;
  background-color: rgb(0, 191, 255);
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  background-color: #84cbe3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer p {
  display: block;
  text-align: center;
  margin: 10px;
}
