*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000000;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
nav{
    margin: 20px;
    width: 350px;
    display:flex;
    gap:5px 8px;
    align-items:center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(62, 62, 62);
}
nav:hover{
    background-color:rgb(82, 82, 82);
}
nav h2{
    font-size: 20px

}
nav :nth-child(2){
    background: none;
    background-color: rgb(103, 102, 102);
    padding: 5px 10px;
    border-radius: 20px;
   
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;

}
.container h1{
    font-size: 50px;
    margin: 20px 10px 10px 10px;
    text-align: center;
}
.container p{
    font-size: 20px;
    margin: 10px;
    text-align: center;
    
}
.container button{
    background-color: rgb(21, 21, 241);
    padding: 15px 24px;
    border: 1px solid blue;
    border-radius: 30px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
}
button i{
    font-size: 20px;

}
button:hover{

    box-shadow: 0px 2px 15px 5px rgba(74, 74, 252, 0.581);
}
