/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #000000;
}

.container {
 color: white;
 width: 100vw;
 height: 100vh;
}

.header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h1 {
  color: rgb(247, 101, 126);
margin: 2px;
}

.subtitle {
  font-size: 14px;
  color: grey;
  letter-spacing: 1px;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 20px;
  width: 70vw;
  margin: auto;
  margin-top: 20px;
  color: white;
  
}

.pricing-card {
  padding: 20px;
  width: 190px;
  border-radius: 10px;
  height: 340px;
}
.pricing-card:nth-child(1) {
  border: 1px solid grey;
  background-color: rgba(165, 161, 161, 0.262);
}
.pricing-card:nth-child(2){
  position: relative;
  border: 1px solid pink;
  background-color: rgba(247, 101, 125, 0.267);
}
.pricing-card:nth-child(3) {
border: 1px solid gold;
  background-color: rgba(255, 217, 0, 0.257);
}
.price{
  color: rgb(248, 117, 139);
  margin-top: 6px;
  font-size: 20px;
  justify-self: center;
  font-weight: bold;
}
.pricing-card:hover {
  transform: scale(1.05);
}

.card-header {
  justify-self: center;
  font-size: 12px;
}

.icon {
 justify-self: center;
 font-size: 20px;
 margin: 10px;
}

.popular-tag {
  position: absolute;
font-size: 7px;
font-weight: 600;
letter-spacing: 0.5px;
  top: -10px;
  background-color: gold;
  color: black;
  padding: 4px 8px;
  justify-self: center;
  border-radius: 10px
}

.price-block {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  background-color:rgba(128, 128, 128, 0.367);
}

.period {
  font-size: 11px;
  color: rgb(185, 181, 181);
  margin-bottom: 6px;
}

.features {
  list-style: none;
  margin: 10px 0;
  padding:0;
}

.features li {
  font-size: 10px;
  color: lightgrey;
  margin:15px 0;
  
}

.features li.disabled {
  color:grey;
}

.join-btn {
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
color: rgb(251, 162, 176);
background-color: rgba(98, 98, 98, 0.06);
border: 1px solid pink;

}

.join-btn:hover {
  background-color: pink;
  color: black;
  cursor:grab;
}

/* Custom Class Modifiers */
.warrior {
  button{
    margin-left: 15px;
    align-self: center;
  }
}
.beginner{
  button{
    margin-left: 10px;
    align-self: center;
  }
}
.champion {
  .price{
  
    color: gold;

  }
  button{
    margin-left: 25px;
   border: 1px solid gold;
   color: gold;
   align-self: center;
  }
  button:hover{
    background-color:gold;
    color: black;
  }
}

.champion .price {
  /* Add your styles here */
}

.champion .join-btn {
  /* Add your styles here */
}

.champion .join-btn:hover {
  /* Add your styles here */
}
